@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

header {
    width: 1920px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav {
    width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.logo {
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo p {
    color: #030F4B;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.lines {
    display: none;
}

.lines div {
    width: 30px;
    height: 3px;
    padding: 5px 0;
    background-color: #030F4B;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.den{
    width: 75px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    background-color: #cecccc;
    border-radius: 15px 15px 15px 15px;
    transition: all 5s;
    position: relative;
}

/* .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
} */

.kun{
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
}

.luna{
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
}

.navbar a {
    text-decoration: none;
    color: #808396;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar .active{
    color: #030F4B;
}

.btns {
    display: flex;
    align-items: center;
    gap: 40px;

}

.btn1 {
    border: none;
    padding: 0;
    background-color: transparent;
    color: #030F4B;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn2 {
    display: inline-flex;
    padding: 15px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background:#FD4455;
    box-shadow: 0px 4px 6px 0px rgba(253, 68, 85, 0.25), 0px 10px 35px -3px rgba(253, 68, 85, 0.35);
    color: #FCFCFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.img1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.img2{
    position: absolute;
    z-index: -2;
    top: 44px;
    right: -47px;
}

@media(max-width: 1000px){
    header {
        width: 100%;
    }
    
    nav {
        width: 335px;
    }
    
    .logo img{
        width: 30px;
        height: 30px;
    }

    .logo p {
        font-size: 20px;
    }
    
    .lines {
        display: block;
    }
    
    .lines div {
        width: 30px;
        height: 5px;
        border-radius: 5px;
        margin: 5px 0;
        padding: 0;
    }
    
    .navbar {
        width: 150px;
        display: none;
        position: absolute;
        top: 80px;
        left: 30px;
        padding-bottom: 150px;
        background-color: #fff;
        }
    
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    
    .btns {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 380px;
        left: 30px;    
    }

    .btn1{
        font-size: 14px;
    }
    
    .btn2 {
        font-size: 14px;
        padding: 5px 10px;
        font-weight: 500;
    }
    
    .img1{
        width: 335px;
        /* display: none; */
        position: absolute;
        top: 00px;
        right: 0;
        z-index: -1;
    }
    
    .img2{
        width: 335px;
        /* display: none; */

        position: absolute;
        z-index: -2;
        top: 44px;
        right: -47px;
    }
}