@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

@media(max-width: 600px){
section {
    width: 100%;
    margin-top: 340px;
}

.university-info {
    width: 335px;
    align-items: flex-start;
    gap: 40px;
}

.university-info h1 {
    width: 330px;
    font-size: 30px;
    text-align: left;
}

.university-info p {
    width: 335px;
    height: auto;
    font-size: 16px;
}

.university-btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
}

/* UNIVERSITY-FINISH */

.frame {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;
    margin-top: 200px;
}

/* FRAME-FINISH */


.departament {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    margin-top: 200px;
}

.departament h1 {
    text-align: left;
    font-size: 30px;
}

.departament-item {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.departament img{
    width: 330px;
}

.departament-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.departament-info h1 {
    font-size: 24px;
    text-align: center;
}

.departament-info p {
    width: 335px;
    font-size: 16px;
}

.departament-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}

.departament-item2 {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
}


/* DEPARTAMENT-FINISH */

.students {
    gap: 10px;
}

h1 {
    width: 335px;
    font-size: 30px;

}

.students img{
    width: 335px;
}

.frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}

.frame2-item2 {
    padding: 10px 30px 10px 10px;
    gap: 16px;
}

.frame2-item2 img{
    width: 30px;
}


.frame2-info p {
    font-size: 16px;
    font-weight: 500;
}

.frame2-info span {
    font-size: 20px;
    font-weight: 600;
}

.frame2-item1 {
    padding: 10px 30px 10px 10px;
    gap: 16px;
}


.frame2-info2 p {
    font-size: 16px;
}

.frame2-info2 span {
    font-size: 20px;
    font-weight: 600;
}

.frame2-item1 img{
    width: 30px;
}

/* FRAME2-FINISH */


.started {
    width: 335px;
    height: 200px;
    padding:  0;
    justify-content: center;
    margin-top: 150px;
}

.started-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.started-item p {
    text-align: center;
    font-size: 24px;
}

.started-item button {
    padding: 10px 20px;
    font-size: 16px;
}

/* STARTED-FINSIH */


.footer-img{
    width: 335px;
    height: auto;
    position: relative;
    bottom: 10px;
}

.footer-imgback{
    width: 100%;
    position: absolute;
    z-index: -1;
}



.footer {
    width: 100%;
    margin-top: 200px;
}

.footer-item {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.footer-logo img{
    width: 30px;

}

.footer-logo p {
    font-size: 16px;
    font-weight: 600;
}

.footer-links {
    display: none;
}

.sites {
    align-items: flex-start;
}

}